{% extends "base.html" %} 
{% block title %}
SQLution - Klassendiagramm
{% endblock %}


{% block content %} 


<div id="div-full-page" class="flex-col" style="height:87vh">

  <div id="div-top-section" class="flex-row" style="justify-content: space-evenly;">

    <div id="div-db-diagram"  class="form-flex-container" style="justify-content: center;">
      
      <div class="flex-col" style="text-align: center;">
        <h4 class="fas fa-database"> Datenbank</h4>

        <div class="flex-row">
          <button id="btn-model-to-db" class="btn btn-primary" onclick="loadToDB()" title="Datenbank erstellen">
            <a class="fas fa-arrow-up"></a>
          </button>
          <button id="btn-db-to-model" class="btn btn-primary" onclick="loadDbToEditor()"> <i class="fas fa-arrow-down"></i> </button>
        </div>
        <h4 class="fas fa-project-diagram"> Diagramm-Editor</h4>

      </div>

    </div>

    <div class="flex-row">
      <div class="flex-col">
        <button id="btn-download-json" class="btn btn-primary" onclick="downloadJson()" title="Datenbank erstellen"> <a class="fas fa-download"> *.json</a> </button>
        <button id="btn-download-svg" class="btn btn-primary" onclick="downloadSvg()" title="Datenbank erstellen"> <a class="fas fa-download"> *.svg</a> </button>
        <button id="btn-download-png" class="btn btn-secondary" onclick="downloadPng()" title="Datenbank erstellen"> <a class="fas fa-download"> *.png</a> </button>
      </div>

      <div id="drop-zone" class="flex-col" style="border: 2px dashed #ccc; padding: 5px; ">
        <!-- Hidden upload form -->

        <div id="div-file-upload" class="flex-col" >
          <button id="upload-uml-btn" class="btn btn-primary" onclick="triggerUpload(true)"><a class="fas fa-upload"> *.json</a></button>
          <form id="uploadForm" method="post" action="{% url 'upload_json' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="json_file" type="file" name="json_file" accept=".json" required>
          </form>
        </div>
      </div>
      </div>
  </div>

  <div class="apollon-container" style="flex: 1 1 auto; min-height: 0;">
    <main id="apollon" style="height: 100%;"></main>
  </div>
</div>

<script>

  

  document.addEventListener('DOMContentLoaded', function() {
    const dropZone = document.getElementById('drop-zone');
    const fileInput = document.getElementById('json_file');
    const uploadForm = document.getElementById('uploadForm');

    // Prevent navigating away on dragover
    dropZone.addEventListener('dragover', function(e) {
      e.preventDefault();
      e.dataTransfer.dropEffect = 'copy';
    });

    // Handle the dropped file
    dropZone.addEventListener('drop', async function(e) {
      e.preventDefault();
      fileInput.files = e.dataTransfer.files;
      
      const confirmed = await showConfirmDialog(
        "Achtung, hierdurch wird das aktuelle Klassendiagramm gelöscht! Die Datenbank wird nicht verändert.",
        "fas fa-project-diagram"
      );
      
      if (!confirmed) {
          return;
      }

      if(fileInput.files.length > 0)
      {
        let f = fileInput.files[0];
       //console.log(f);

        const reader = new FileReader();
        reader.onload = function(event) {
          try {
            const json =event.target.result;
            window.apollon.loadModel(json);
          } catch (err) {
            showAlertDialog("Fehler beim Laden der JSON-Datei: " + err.message, "fas fa-exclamation-triangle", "red");
          }
        };
        reader.readAsText(f);
      }
    });
  });
  
  async function triggerUpload() {  
    
    const fileInput = document.getElementById('json_file');
    if (fileInput.files.length < 1) {
      showAlertDialog("Keine Datei zum Upload ausgewählt. Wähle mit 'Browse...' eine Datei zum Upload aus oder ziehe sie per Drag'n'Drop in den gestrichelten Kasten.");
      return;
    }

      const confirmed = await showConfirmDialog(
        "Achtung, hierdurch wird das aktuelle Klassendiagramm gelöscht! Die Datenbank wird nicht verändert.",
        "fas fa-project-diagram"
      );
      
      if (!confirmed) {
          return;
      }


      
      const file = fileInput.files[0];
      const reader = new FileReader();
      reader.onload = function(event) {
        try {
          const json = JSON.parse(event.target.result);
          window.apollon.loadModel(json);
        } catch (err) {
          showAlertDialog("Fehler beim Laden der JSON-Datei: " + err.message, "fas fa-exclamation-triangle", "red");
        }
      };
      reader.readAsText(file, "utf-8");

      await showAlertDialog("Klassendiagramm wurde erfolgreich in den Editor geladen.", "fas fa-check-square", "green");

      
      fileInput.value = null;
  }

  async function loadToDB() {
    let json = window.apollon.model();

    const blob = new Blob([JSON.stringify(json)], { type: "application/json" });
    const file = new File([blob], "diagram.json", { type: "application/json" });    

    if(! await showConfirmDialog(
      "Achtung, hierdurch wird deine aktuelle Datenbank vollständig gelöscht! Das kann nicht rückgängig gemacht werden!",
      "fas fa-database"
    )) { return; }
    
    
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch("/api/diagram.json", {
        method: "POST",
        headers: { "Content-Type": "application/json", "X-CSRFToken": csrftoken },
        body: file
    })
    .then(response => {
        if (response.ok) {
          showAlertDialog("Klassendiagramm wurde als Datenbank geladen.", "fas fa-check-square", "green");
        } 
        else {
          showAlertDialog("Fehler beim Laden des Klassendiagramms als Datenbank. Überprüfe, ob das Format deines Diagramms korrekt ist!", "fas fa-exclamation-triangle", "red");
        }
    });
    loadJsonFromServer();
  }

  function downloadJson() {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch('/api/diagram.json', {
        method: "GET",
        headers: { "Content-Type": "application/json", "X-CSRFToken": csrftoken }
      })
      .then(response => response.json())
      .then(data => {
       //console.log(data);
       //console.log(JSON.stringify(data));
        const jsonStr = JSON.stringify(data, null, 2);
        const blob = new Blob([jsonStr], { type: "application/json" });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = "diagram.json";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
      })
      .catch(error => {
        console.error('Error fetching JSON:', error);
      });
  }
  async function downloadSvg() {
   //console.log("x");
    let blob = await window.apollon.getSvg();    
   //console.log("y");
    const url = URL.createObjectURL(blob);
   //console.log(url);
    const a = document.createElement('a');
    a.href = url;
    a.download = "diagram.svg";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    URL.revokeObjectURL(url);
  }
  function downloadPng() {
    showAlertDialog("Diese Funktion steht noch nicht zur Verfügung. Du kannst das Diagramm stattdessen als *.svg (Vektografik) herunterladen und direkt nutzen oder zu einem *.png konvertieren.")
  }

  async function loadDbToEditor() {
    const confirmation = await showConfirmDialog(
      "Achtung, hierdurch wird das Diagramm im Editor unwiderruflich gelöscht und durch das deiner aktuellen Datenbank ersetzt.",
      "fas fa-project-diagram"
    );
    if(!confirmation ) { return; }

    loadJsonFromServer(true);
  }

  function loadJsonFromServer(manuallyTriggered = false) {

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch('/api/diagram.json', {
        method: "GET",
        headers: { "Content-Type": "application/json", "X-CSRFToken": csrftoken }
      })
      .then(response => response.json())
      .then(data => {
        window.apollon.loadModel(data);
        if(manuallyTriggered) {
          showAlertDialog("Klassendiagramm wurde erfolgreich in den Editor geladen.", "fas fa-check-square", "green")
        }
      })
      .catch(error => {
        showAlertDialog("Es konnte kein bestehendes Klassendiagramm vom Server geladen werden. Wenn du noch nie ein Klassendiagramm als Datenbank importiert hast, ist das normal.", "fas fa-exclamation-triangle", "orange");
      });

  }

  loadJsonFromServer();
</script>

<style>
  .form-flex-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      align-items: flex-start;
  }
  .form-flex-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 140px;
      margin-bottom: 10px;
  }
  @media (max-width: 600px) {
      .form-flex-container {
          flex-direction: column;
          align-items: stretch;
      }
      .form-flex-item {
          min-width: unset;
          align-items: center;
      }
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    margin: 5px;
  }
  .flex-row {
    display: flex;
    flex-direction: row; /* Force horizontal layout */
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    margin: 5px;
  }
  </style>

{% endblock %} 

{% block powered_by %}
    <a href="https://github.com/ls1intum/Apollon" target="_blank" style="color: #888; text-decoration: underline;">
      Powered by TUM's Apollon Editor
    </a>
{% endblock %} 