{% extends "base.html" %} {% block content %}
<h1>Alle Tabellen der Datenbank:</h1>
<table border="1">
    {% for mod in models %}
        <h4>{{ mod.name }}</h4>
        <table border="1" style="width: 100%;">
            <tr>
                {% for col in mod.columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in mod.rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
