{% extends "base.html" %} 


{% load static %}


{% block content %}


<div class="sql-online" style="width: calc(100% - 10px); height: 600px; margin-left: 5px" data-sql-online="{
        'id': 'abcd',
        'databaseURL': 'assets/databases/world1.sqLite'}">
 
        <script type="text/plain" title="Test1.sql" data-type="sql">
                select * from fluss;
                select land.Name, kontinent.Name from land, kontinent
                    where land.KNR = kontinent.KNR 
        </script>
    </div>
{% endblock %}