{% extends "base.html" %} 
{% block title %}
SQLution - Übersicht
{% endblock %}
{% block content %}


<h4 style="text-align: center;"> Datenbank verwalten</h4>

<div style="display: flex; justify-content: space-between; align-items: center; gap: 20px; width: 100%;">
    <div style="flex: 1; text-align: center;">
        <b> SQLite Datenbank (.db) hochladen: </b>
        <p style="font-size: 0.8em;"> Achtung: Hierdurch wird die aktuelle Datenbank gelöscht!</p>
        <form id="uploadForm" method="post" action="{% url 'upload_db' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="db_file" type="file" name="db_file" accept=".db" required class="btn btn-primary" style="margin-bottom: 10px; cursor: pointer;" onchange="this.form.submit();">
        </form>
    </div>
    <div style="flex: 1; text-align: center;">
        <b> SQLite Datenbank (.db) herunterladen: </b>
        <p style="font-size: 0.8em;"> Es werden keine SQL-Abfragen, Formulare oder das Klassendiagramm heruntergeladen!</p>
        <a href="{% url 'download_db' %}" class="btn btn-primary" style="margin-bottom: 10px; ">Datenbank herunterladen (SQLite)</a>
    </div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; gap: 20px; width: 100%;">
    <div style="flex: 1; text-align: center;">
        <b> Projekt (.zip) hochladen: </b>
        <p style="font-size: 0.8em;"> Achtung: Hierdurch wird das aktuelle Projekt gelöscht!</p>
        <form id="uploadForm" method="post" action="{% url 'upload_zip' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input id="zip_file" type="file" name="zip_file" accept=".zip" required class="btn btn-primary" style="margin-bottom: 10px; cursor: pointer;" onchange="this.form.submit();">
        </form>
    </div>
    <div style="flex: 1; text-align: center;">
        <b> Projekt (.zip) herunterladen: </b>
        <p style="font-size: 0.8em;"> Es werden alle SQL-Abfragen, Formulare, das Klassendiagramm und die Datenbank heruntergeladen!</p>
        <a href="{% url 'download_zip' %}" class="btn btn-primary" style="margin-bottom: 10px; ">Projekt herunterladen</a>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      const fileInput = document.getElementById('db_file');
      const uploadForm = document.getElementById('uploadForm');
  
      /*// Prevent navigating away on dragover
      dropZone.addEventListener('dragover', function(e) {
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
      });
  
      // Handle the dropped file
      dropZone.addEventListener('drop', function(e) {
        e.preventDefault();
        fileInput.files = e.dataTransfer.files;
        uploadForm.submit();
      });*/
    });
  </script>


<br/>
<br/>

<h4 style="text-align: center;">Nutzerfunktionen / gespeicherte SQL-Abfragen</h4>

<table border="1" style="width: 100%; border-color: var(--border-color);">
    {% for fkt in functions %}
        <tr>
            <th style="border-color: var(--border-color);">{{fkt.name}}</th>
            <td style="font-size: 0.8em; border-color: var(--border-color);">{{fkt.sql|safe}}</td>
        </tr>
    {% endfor %}
</table>

<br>

<h4 style="text-align: center;">Tabellen (max. 10 Zeilen pro Tabelle)</h4>
<table border="1">
    {% for mod in models %}
        <b>{{ mod.name }}</b>
        <table border="1" style="width: 100%; border-color: var(--border-color);">
            <tr>
                {% for col in mod.columns %}
                    <th style="border-color: var(--border-color); padding-left: 4px;">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in mod.rows %}
                <tr>
                    {% for cell in row %}
                        <td style="border-color: var(--border-color); padding-left: 4px;">{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

<br>  
{% endblock %}
