{% extends "base.html" %}





{% block content %}

<div style="text-align: center;">
    <h1>SQL-Abfrage ausführen</h1>
</div>

    <b>Tabellenschema:</b><br/>
    <i>{{ tablescheme|safe }}</i>


    <br/>
    <br/>
    
    <b>SQL:</b><br/>
    <form method="post">
        {% csrf_token %}
        {{ queryForm.as_p }}
        <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px; margin-top: 20px;">
            <button type="submit" class="btn btn-primary">Ausführen / Speichern</button>
            <input type="checkbox" id="save_query" name="save_query" style="margin-left: 10px;">
        <a>beim Ausführen Speichern als:  </a>
        <input type="text" id="input_filename" name="input_filename" value="{{ file }}" style="margin: 0;">
        <label for="input_filename">(unter diesem Namen wird die SQL-Abfrage dem Nutzer angezeigt)</label>
        </div>
        <b>Variablen:</b> In gespeicherten SQL-Abfragen kannst du mit doppelten geschweiften Klammern <i>{Variablen}</i> verwenden. 
        Führt der Nutzer die Abfrage aus, muss er für jede Variable einen Wert eingeben und diese werden dann 1:1 eingesetzt. <br/>
        <b>Beispiel:</b> <i>SELECT * FROM Schueler WHERE vorname="{% templatetag openvariable %}Name{% templatetag closevariable %}"</i> 
        ➔ Nutzer gibt Max ein ➔ <i>SELECT * FROM Schueler WHERE vorname="Max"</i>
    </form>
    

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if rowcount > -1 %}
        <h4>Ergebnisse: {{ rowcount }} </h4>
    {% endif %}
    <br/>



    {% if columns %}
        <table border="1" style="width: 100%;">
            <tr>
                {% for col in columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% for row in result %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br/><br/>
{% endblock %}