{% extends "base.html" %} {% block content %}
<!--
    <h1>Erstes Beispiel</h1>
 
    <div class="sql-online" style="width: calc(100% - 10px); height: 500px; margin-left: 5px" data-sql-online="{
        'id': 'abcd',
        'databaseURL': '{{ database }}',
        'enableFileAccess': true
    }">
        <script type="text/plain" title="Test1.sql" data-type="sql">
            {{ sql }}
        </script>
    </div>  -->


    <button id="test-file-access-btn">Test File Access</button>

    <div class="sql-online" style="width: calc(100% - 10px); height: 80dvh; margin-left: 5px; overflow: hidden;" data-sql-online="{
        'id': '{{ user_name }}',
        'databaseURL': '{{ user_url }}',
        'enableFileAccess': true,
        'withFileList': true,
        'withOutput': true,
        'withErrorList': true,
        'withBottomPanel': true
    }">
    
        {% for f in sql_files %}
            <script type="text/plain" title="{{ f.filename }}" data-type="sql">
                {{ f.content }}
            </script>
        {% endfor %}
    </div>


    <script>
        document.getElementById('test-file-access-btn').addEventListener('click', function() {
            fileAccessTester();
        });
    </script>

<script>
    function fileAccessTester() {
        //console.log('Embedded-Test');
        let ide = window.sql_ide_access.getIDE('{{ user_name }}');
        //console.log('IDE: ' + ide);
        
        let files = ide.getFiles();
        //console.log('Files: ' + files.length);
        for(let i = 0; i < files.length; i++){
        let file = files[i];
        //console.log('Name: ' + file.getName());
        //console.log('Quelltext:' + file.getText());
        }
    }
</script>
 
{% endblock %}