{% extends "base.html" %} 
{% block content %}

<div style="text-align: center;">

{% load extrafilters %}  

<br/>
<h2>{{title}}</h2>

<form method="post">
    {% csrf_token %}
        <div class="form-flex-container">
            {% for inp in inputs %}
            <div class="form-flex-item">
                <label for="input_{{ inp }}" style="text-align: center; width: 100%;">{{ inp }}</label>
                <input type="text" style="background-color: var(--bg-secondary); color: var(--text-primary); width: 100%;" id="input_{{ inp }}" name="input_{{ inp }}" value="">
            </div>
            {% endfor %}
            {% for inp in dropdowns %}
            <div class="form-flex-item">
                <label for="dropdown_{{ inp.name }}">{{ inp.name }}</label>
                <select id="dropdown_{{ inp.name }}" name="dropdown_{{ inp.name }}">
                    {% for option in inp.options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        <style>
        .form-flex-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            align-items: flex-center;
        }
        .form-flex-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 140px;
            margin-bottom: 10px;
        }
        @media (max-width: 600px) {
            .form-flex-container {
                flex-direction: column;
                align-items: stretch;
            }
            .form-flex-item {
                min-width: unset;
                align-items: center;
            }
        }
        </style>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px; margin-top: 20px;">Ausführen</button>
</form>




{% if error %}
    <p style="color:var(--accent-danger);">Fehler: {{ error }}</p>
{% endif %}
<br>



{% if columns %}
    <table border="1" style="width: 100%;">
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in result %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}



{% if user.is_authenticated and user.username|endswith:'_admin' %}
<div style="margin-top: 10px; margin-bottom: 5px; color: var(--text-muted); font-size: 12px; text-align: center;">
    Nur in der Admin-Ansicht sichtbar: SQL-Abfrage mit eingesetzten Variablen.
</div>
    <div style="color: var(--text-secondary); text-align: center; display: block;">
        <div style="text-align: left; display: inline-block;">
            <i>{{query|safe}}</i>
            </div>
    </div>
{% endif %}

</div>

{% endblock %}



